{% extends 'base.html.twig' %}

{% block title %}dashboard{% endblock %}

{% block body %}
<div class="d-flex m-5">
    <table id="data" class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center">Date</th>
            <th scope="col" class="text-center">cl么ture</th>
            <th scope="col" class="text-center">ouverture</th>
            <th scope="col" class="text-center">plus haut</th>
            <th scope="col" class="text-center">plus bas</th>
            <th scope="col" class="text-center">cl么ture LVC</th>
        </tr>
        </thead>
        <tbody>
        {% for index, row in cac %}
            <tr>
                <td class="text-center">{{ row.createdAt | date("d/m/y") }}</td>
                <td class="text-center">{{ row.closing }}</td>
                <td class="text-center">{{ row.opening }}</td>
                <td class="text-center">{{ row.higher }}</td>
                <td class="text-center">{{ row.lower }}</td>
                <td class="text-center">{{ lvc[index].closing }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center">cl么ture</th>
                <th scope="col" class="text-center">ouverture</th>
                <th scope="col" class="text-center">plus haut</th>
                <th scope="col" class="text-center">plus bas</th>
                <th scope="col" class="text-center">cl么ture LVC</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
