{% extends 'base.html.twig' %}

{% block title %}dashboard{% endblock %}

{% block body %}
    {# TODO : inspiration pour les cards à ajouter : https://codepen.io/JavaScriptJunkie/pen/WgRBxw #}
    <div class="container-fluid container-md">

        <h1 class="row h3 mx-sm-1 ms-lg-4 custom-min-width">récupération des données End Of Day</h1>
        <div class="mx-sm-1 ms-lg-4">
            <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-3 p-2 custom-table d-none d-sm-flex">
                {# le tableau n'apparaît pas pour la largeur small, display-table pour les autres #}
                <table class="table table-sm table-hover d-none d-sm-table">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Date</th>
                        <th scope="col" class="text-center">clôture</th>
                        <th scope="col" class="text-center">ouverture</th>
                        <th scope="col" class="text-center">plus haut</th>
                        <th scope="col" class="text-center">plus bas</th>
                    </tr>
                    </thead>
                    {% for row in cac %}
                        <tr>
                            <td class="text-center">{{ row.createdAt|date("d/m/y") }}</td>
                            <td class="text-center">{{ row.closing }}</td>
                            <td class="text-center">{{ row.opening }}</td>
                            <td class="text-center">{{ row.higher }}</td>
                            <td class="text-center">{{ row.lower }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            {% for position in positions %}
            <p>
                date : {{ position.buyLimit.dailyCac.createdAt|date("d/m/y") }},
                nombre : INCONNU
                véhicule : PAS PRECISE,
                buyTarget : {{ position.buyTarget|format_number({fraction_digit: 2}) }}
            </p>
            {% endfor %}
        </div>

    </div>
{% endblock %}
