{% extends 'base.html.twig' %}

{% block title %}dashboard{% endblock %}

{% block body %}
<div class="row justify-content-center mt-3">
    <div class="col-3">
        <div class="card bg-success text-light">
            <div class="card-header">
                <h5 class="card-title fw-bolder">Positions en attente</h5>
            </div>
            <div class="card-body">
                {% for position in waitingPositions %}
                <p class="card-text no-margin text-center">+ {{ position.quantity }} LVC @ {{ position.lvcBuyTarget }} - CAC {{ position.buyTarget }} pts</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-warning text-light">
            <div class="card-header">
                <h5 class="card-title fw-bolder">Positions en cours</h5>
            </div>
            <div class="card-body">
                {% for position in runningPositions %}
                    <p class="card-text no-margin text-center">+ {{ position.quantity }} LVC @ {{ position.lvcBuyTarget }} - CAC {{ position.buyTarget }} pts</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-danger text-light">
            <div class="card-header">
                <h5 class="card-title fw-bolder">Positions clôturées</h5>
            </div>
            <div class="card-body">
                {% for position in closedPositions %}
                    <p class="card-text no-margin text-center">+ {{ position.quantity }} LVC @ {{ position.lvcBuyTarget }} - CAC {{ position.buyTarget }} pts</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-5 mt-3">
        <div class="custom-table text-center p-1">cotations du CAC40</div>
        <table id="data" class="table-bordered table-striped table-hover table-secondary">
            <thead>
            <tr>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center">ouverture</th>
                <th scope="col" class="text-center">plus haut</th>
                <th scope="col" class="text-center">plus bas</th>
                <th scope="col" class="text-center">clôture</th>
                <th scope="col" class="text-center">clôture LVC</th>
            </tr>
            </thead>
            <tbody>
            {% for index, row in cac %}
                <tr>
                    <td class="text-center">{{ row.createdAt | date("d/m/y") }}</td>
                    <td class="text-center">{{ row.opening }}</td>
                    <td class="text-center">{{ row.higher }}</td>
                    <td class="text-center">{{ row.lower }}</td>
                    <td class="text-center">{{ row.closing }}</td>
                    <td class="text-center">{{ lvc[index].closing }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center">ouverture</th>
                <th scope="col" class="text-center">plus haut</th>
                <th scope="col" class="text-center">plus bas</th>
                <th scope="col" class="text-center">clôture</th>
                <th scope="col" class="text-center">clôture LVC</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-5 mt-3">
        <div class="card chart_card">
            <div class="card-header custom-table text-center p-1">Graphique du Cac</div>
            <div class="card-body">
            <div id="chart" data-chart-data='{{ chartData|json_encode|raw }}'></div>
            </div>
        </div>
    </div>
    <!-- ajout d'un élément vide pour servir de support à la classe reveal-btn permettant d'afficher le scroll-up -->
    <div class="reveal-btn"></div>
</div>
{% endblock %}
