{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>Enregistrer un nouvel utilisateur</h1>
            <div class="col-6">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-success">S'enregistrer</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>

{% endblock %}
