<!DOCTYPE html>
<html lang="fr" class="h-100" id="top-of-page">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Application pour mettre à jour les cours de CAC et surveiller les niveaux d'achat sur retracement">
        <meta name="author" content="Mickaël BULA">
        <meta name="keyword" content="trading, bourse, investissement, retracement">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# ajout des 'favicon' créés sur le site favicon.io #}
        <link rel="apple-touch-icon" sizes="180x180" href={{ asset("assets/images/favicon/apple-touch-icon.png") }}>
        <link rel="icon" type="image/png" sizes="32x32" href={{ asset("assets/images/favicon/favicon-32x32.png") }}>
        <link rel="icon" type="image/png" sizes="16x16" href={{ asset("assets/images/favicon/favicon-16x16.png") }}>
        <link rel="manifest" href={{ asset("assets/images/favicon/site.webmanifest") }}>
        {# ajout des favicon #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body data-theme="{{ theme }}">
        {% include 'header.html.twig' %}

        <!-- menu latéral -->
        <div id="menu" class="collapse">
            <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none">
                        <i class="bi bi-speedometer ms-2 me-2"></i>
                        <span class="ms-2">Gestion</span>
                    </a>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none">
                        <i class="bi bi-bar-chart ms-2 me-2"></i>
                        <span class="ms-2">Positions</span>
                    </a>
                </li>
                <li><hr class="dropdown-divider ms-2 me-2 text-light"></li>
                <li class="d-flex justify-content-between align-items-center">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none">
                        <i class="bi bi-gear ms-2 me-2"></i> <!-- Icône à gauche avec espacement -->
                        <span class="ms-2">Paramètres</span> <!-- Label à droite en blanc -->
                    </a>
                </li>
            </ul>
        </div>
        <!-- menu latéral -->

        <main class="d-flex flex-column" style="min-height: 100vh;">
            <a href="#top-of-page" class="svg-container reveal">
                <svg width="64" height="64" viewBox="0 0 100 100">
                    <path fill="white" d="m50 0c-13.262 0-25.98 5.2695-35.355 14.645s-14.645 22.094-14.645 35.355 5.2695 25.98 14.645 35.355 22.094 14.645 35.355 14.645 25.98-5.2695 35.355-14.645 14.645-22.094 14.645-35.355-5.2695-25.98-14.645-35.355-22.094-14.645-35.355-14.645zm20.832 62.5-20.832-22.457-20.625 22.457c-1.207 0.74219-2.7656 0.57812-3.7891-0.39844-1.0273-0.98047-1.2695-2.5273-0.58594-3.7695l22.918-25c0.60156-0.61328 1.4297-0.96094 2.2891-0.96094 0.86328 0 1.6914 0.34766 2.293 0.96094l22.918 25c0.88672 1.2891 0.6875 3.0352-0.47266 4.0898-1.1562 1.0508-2.9141 1.0859-4.1133 0.078125z"></path>
                </svg>
            </a>
        {% block body %}{% endblock %}
        </main>

        {% include 'footer.html.twig' %}
    </body>
</html>