<!-- Récupère le nom de la route courante -->
{% set current = app.request.attributes.get('_route') %}
<header data-route-name="{{ current }}">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">

            <!-- bouton du menu latéral -->
            <button id="toggleMenu" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- bouton du menu latéral -->

            <a class="navbar-brand fw-bold ms-2" href="{{ path('app_home') }}">Webtrader</a>
            <button class="navbar-toggler btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-5 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if current == 'app_home' %}active{% endif %}" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current == 'app_dashboard' %}active{% endif %}" href="{{ path('app_dashboard') }}">Dashboard</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end custom-dropdown" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_login') }}"><i class="bi bi-box-arrow-in-left"></i> login</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-right"></i> logout</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> menu</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- bouton dark mode -->
                <button
                        class="theme-toggle"
                        type="button"
                        title="Toggle theme"
                        aria-label="Toggle theme"
                        id="switchMode"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                            width="2em"
                            height="2em"
                            fill="currentColor"
                            stroke-linecap="round"
                            class="theme-toggle__classic"
                            viewBox="0 0 32 32"
                    >
                        <clipPath id="theme-toggle__classic__cutout">
                            <path d="M0-5h30a1 1 0 0 0 9 13v24H0Z"></path>
                        </clipPath>
                        <g clip-path="url(#theme-toggle__classic__cutout)">
                            <circle cx="16" cy="16" r="9.34"></circle>
                            <g stroke="currentColor" stroke-width="1.5">
                                <path d="M16 5.5v-4"></path>
                                <path d="M16 30.5v-4"></path>
                                <path d="M1.5 16h4"></path>
                                <path d="M26.5 16h4"></path>
                                <path d="m23.4 8.6 2.8-2.8"></path>
                                <path d="m5.7 26.3 2.9-2.9"></path>
                                <path d="m5.8 5.8 2.8 2.8"></path>
                                <path d="m23.4 23.4 2.9 2.9"></path>
                            </g>
                        </g>
                    </svg>
                </button>
                <!-- bouton dark mode -->
            </div>
        </div>
    </nav>
</header>